body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #8A2BE2, #b55ff5);
    color: #fff;
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    margin: 20px;
}

form {
    background-color: #b6b0b0;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(243, 12, 12, 0.2);
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}


form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #571a1a;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
}

.resume-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
}


.resume-block {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    white-space: normal;
}


.resume-divider {
    border: none;
    height: 1px;
    background-color: #bd4545;
    margin: 10px 0;
}


.theme-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.theme-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
